<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home/">
            <img src="/static/images/it-helper.png" alt="" width="30" height="30" class="d-inline-block align-text-top">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link px-2 {% if 'home' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="/home/">Головна сторінка<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-link px-2 {% if 'new_task' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="/new_task">Викликати фахівця<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-link px-2 {% if 'profile' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="/profile/{{request.user.id}}">Мій профіль<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-link px-2 {% if 'logout' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logout' %}">Вийти<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-link px-2 {% if 'registration' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="{% url 'registration' %}">Створити акаунт<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-link px-2 {% if 'login' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="{% url 'login' %}">Увійти<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li class="nav-link px-2 {% if 'main' in request.path %}disabled{% else %}active{% endif %}">
                    <a class="nav-link" href="{% url 'staff_main' %}">Кабінет працівника<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}
</body>
</html>