{% extends 'base.html' %}
{% block title %}Підтвердіть свою пошту{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <br>
            {% if form.errors %}
            <p class="text-danger">Error, check:</p>
            <ul>
                {% for error in form.errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="confirmation_key">Вашу електронну пошту потрібно підтвердити</label>
                    <label for="confirmation_key">Код підтвердження вислано на вказану Вами пошту, введіть його в поле
                        нижче:</label>
                    <input type="text" id="confirmation_key" name="confirmation_key" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark">Підтвердити</button>
                <button type="submit" id="delete_wrong_user" name="delete_wrong_user" class="btn btn-danger">Змінити мої
                    данні
                </button>
            </form>
            <br>

        </div>
    </div>
</div>

{% endblock %}
