{% extends 'base.html' %}
{% block title %}Зв'яжіться з кервником{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-success" role="alert">
            <p>Данні успішно збережено, тепер потрібно лише підтвердити, що Ви працівик компанії.</p><br>
            <p>Для цього зв'яжіться з Вашим керівником та надайте йому Ваш email</p><br>
            <p>Після отримання підтверження Ви отримаєте повний доступ до ресурсів. </p>
        </div>

    </div>
</div>

{% endblock %}
