{% extends 'base.html' %}
{% block title %}Залишити відгук{% endblock %}

{% block content %}
<div class="container">
    <form class="form-group" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">

            <div class="form-check inline">
                <input class="form-check-input" type="radio" name="rating" id="rating1" value="1">
                <label class="form-check-label" for="rating1">
                    1
                </label>
            </div>
            <div class="form-check inline">
                <input class="form-check-input" type="radio" name="rating" id="rating2" value="2">
                <label class="form-check-label" for="rating2">
                    2
                </label>
            </div>
            <div class="form-check inline">
                <input class="form-check-input" type="radio" name="rating" id="rating3" value="3">
                <label class="form-check-label" for="rating3">
                    3
                </label>
            </div>
            <div class="form-check inline">
                <input class="form-check-input" type="radio" name="rating" id="rating4" value="4">
                <label class="form-check-label" for="rating4">
                    4
                </label>
            </div>
            <div class="form-check inline">
                <input class="form-check-input" type="radio" name="rating" id="rating5" value="5" checked>
                <label class="form-check-label" for="rating5">
                    5
                </label>
            </div>

            <br>
            <div class="form-group">
                <label for="comment">Коментар:</label>
                <input type="text" class="form-control" id="comment" name="comment" maxlength="400" required>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Відправити відгук</button>
    </form>

</div>
{% endblock %}
