{% extends 'base.html' %}
{% block title %}Сторінка персоналу{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№ заявки</th>
            <th scope="col">Дата створення</th>
            <th scope="col">Клієнт</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адреса</th>
            <th scope="col">Опис заявки</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr class="table-{% if task.in_work is False %}danger{% else %}warning{% endif %}">
            <th scope="row"><a href="/staff/task/{{ task.id }}">{{ task.id }}</a></th>
            <td>{{ task.created }}</td>
            <td><a href="{% if task.client is None %}#{% else %}/profile/{{ task.client.id}}{% endif %}/">
                {% if task.client is None %} {{ task.anonim_user }} {% else %}
                {{ task.client.user_name }} {% endif %}
            </a></td>
            <td>{{ task.phone }}</td>
            <td>{{ task.city }}, {{ task.street }} {{ task.house }}, кв.{{ task.apartment }}</td>
            <td>{{ task.description }}</td>
            <td>{% if task.finished is True %} <img src="/static/images/done_logo.png" alt="Виконано" width="30"
                                                    height="30"> {% else %} {% if task.in_work is True %} В
                роботі {% else %}
                очікує {% endif %} {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ page_obj.previous_page_number }}" tabindex="-1"> << Попередня </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page=1">В початок</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В кінець</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна >> </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
