{% extends 'base_staff.html' %}
{% block title %}Сторінка персоналу{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№ заявки</th>
            <th scope="col">Дата створення</th>
            <th scope="col">Клієнт</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адреса</th>
            <th scope="col">Опис заявки</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr class="table-{% if task.in_work is False %}danger{% else %}warning{% endif %}">
            <th scope="row"><a href="/staff/task/{{ task.id }}">{{ task.id }}</a></th>
            <td>{{ task.created }}</td>
            <td><a href="{% if task.client is None %}#{% else %}/profile/{{ task.client.id}}{% endif %}/">
                {% if task.client is None %} {{ task.anonim_user }} {% else %}
                {{ task.client }} {% endif %}
            </a></td>
            <td>{{ task.phone }}</td>
            <td>{{ task.city }}, {{ task.street }} {{ task.house }}, кв.{{ task.apartment }}</td>
            <td>{{ task.description }}</td>
            <td>{% if task.finished is True %} <img src="/static/images/done_logo.png" alt="Виконано" width="30"
                                                    height="30"> {% else %} {% if task.in_work is True %} В
                роботі {% else %}
                очікує {% endif %} {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
